* {
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  transition: all ease-in-out 0.2s;
}
html {
  scroll-behavior: smooth;
  height: 100vh;
}
body {
  font-family: "Cairo", sans-serif;
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, #3ec0e9 0%, #347589 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
.header {
  position: relative;
  color: white;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.57) 0%,
    rgba(196, 196, 196, 0) 100%
  );
  padding-top: 1rem;
}
.header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.15rem;
  text-align: center;
  filter: drop-shadow(0rem 0.094rem 0.094rem rgba(0, 0, 0, 0.25));
  color: #ffffff;
}
.header i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 0.2rem solid white;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  font-size: 1.5rem;
  filter: drop-shadow(0rem 0.094rem 0.094rem rgba(0, 0, 0, 0.25));
  transform: translateX(0);
  transition: 0.3s;
  transform-origin: center;
}
.header i:hover {
  cursor: pointer;
}
.header i.close {
  position: absolute;
  z-index: 4;
  color: black;
  border: none;
}
.profile-menu {
  position: absolute;
  height: 100vh;
  width: 60vw;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 5rem;
  z-index: 3;
}
.profile-menu ul {
  width: 100%;
  text-align: center;
}
.profile-menu li {
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: #000000;
  border-bottom: 0.01rem solid black;
}
.profile-menu li:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}
.profile-menu li:hover a {
  color: rgb(255, 255, 255);
}

.profile-menu a {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.city {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.city:hover {
  cursor: auto !important;
}
.dimmer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.hide {
  display: none !important;
}
.container {
  width: calc(100% - 02rem);
}
.container .label {
  font-style: normal;
  font-weight: 700;
  font-size: 1.533rem;
  filter: drop-shadow(0rem 0.094rem 0.094rem rgba(0, 0, 0, 0.25));
  text-align: center;
  color: #ffffff;
  margin-bottom: 1rem;
}
.firstLabel {
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 1rem 0rem;
}
.prayer-card {
  background: #ffffff;
  border-radius: 1.965rem;
  padding: 0.4rem 1rem;
}
.prayer-card .prayer-label {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  text-align: right;
}
.prayer-time {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.prayer-time .time {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: #000000;
  margin-top: 0.688rem;
}
.prayer-time .remaining {
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  color: #000000;
  margin-top: 0.688rem;
  padding-right: 2rem;
}
/* Table */
table {
  background-color: white;
  border-collapse: collapse !important;
  border: none;
  text-align: center;
  height: 100%;
  border-radius: 2rem;
  border-style: none;
  font-weight: bold;
  font-size: 1.2rem;
  table-layout: fixed;
  width: 100%;
}
table tr {
  width: 100%;
  height: auto;
}
table tr td {
  border-left: 0.01rem solid black;
  border-bottom: 0.01rem solid black;
}
table tr td:first-child {
  border-left: none;
}
table tr:last-child td {
  border-bottom: none;
}
table tr td:last-child {
  background: #3ec0e9;
}
table tr:first-child td:last-child {
  background: #3ec0e9;
  border-radius: 0rem 2rem 0rem 0rem;
}
table tr:last-child td:last-child {
  background: #3ec0e9;
  border-radius: 0rem 0rem 2rem 0rem;
}
/* Table */
nav {
  position: relative;
  z-index: 1;
  width: 100vw;
  background: linear-gradient(180deg, #2d7a93 0%, #1e596b 49.79%, #1c4d5c 100%);
  box-shadow: 0px 1.91667px 16.4833px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
}
nav ul {
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.5rem;
}
nav ul li {
  width: 100%;
  height: 100%;
}
nav ul li .active {
  background-color: #3db4d8a4;
}
nav ul i {
  color: #ffffff;
  font-size: 2rem;
}
nav ul a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
nav ul li h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 0.688rem;
  text-align: center;

  color: #ffffff;
}
[type="checkbox"] {
  opacity: 0;
  position: absolute;
}
[type="checkbox"]:hover {
  cursor: pointer;
}
.status {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status:hover {
  cursor: pointer;
}
.status.check {
  background-color: #3ec0e9;
}
.status.check::after {
  content: url(../images/icon-check.svg);
  scale: 2.5;
  transform: translateY(-10%);
  height: auto;
}
#eshaa_3 {
  border-radius: 0rem 0rem 0rem 2rem;
}

@media screen and (min-width: 800px) {
  .container {
    width: calc(100% - 50vw);
  }
  .header {
    padding: 1rem 25vw;
  }
  nav ul {
    width: calc(100% - 50vw);
  }
  .profile-menu {
    width: 30vw !important;
  }
  .prayer-time .remaining {
    font-size: 1.8rem;
  }
}
